:root {
  --darkNavy: #242742;
  --grey-25: #19182B40;
  --charcoalGrey: rgb(54, 56, 78);
  --Vermellion: #FF6155;
  --Gradient-1: linear-gradient(204deg, #FF6A3A 0%, #FF527B 100%);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: var(--charcoalGrey);
  color: var(--darkNavy);
  outline: none;
}


#root {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* MOBILE */

@media only screen and (max-width: 900px) {

  #root {
    width: 100%;
    height: auto;
    overflow:hidden;
  }
}